<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event's Page</title>
    <link rel="stylesheet" href="../../static/events/get_event.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10/font/bootstrap-icons.css">
  </head>
  <body>
    <header>
      <div class="container d-flex flex-column flex-md-row align-items-center pb-1 pt-1">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path>
          </svg>
          <span class="fs-4">myDSB KompetisI</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="/events">Events</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/supervisors">Supervisors</a>
          {% if current_user.is_authenticated %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="/signout">Sign out</a>
            <a class="py-2 text-dark text-decoration-none" href="/users/home">{{ current_user.username }}</a>
          {% else %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="/signin">Sign in</a>
            <a class="py-2 text-dark text-decoration-none" href="/signup">Sign up</a>
          {% endif %}
        </nav>
      </div>
    </header>
    
    <!-- FROM  -->
    <div class="auto offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
      <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body px-0 h-auto">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
          <li class="nav-item"><a style="margin: 0; background-color: white;" href="users/home" class="nav-link text-truncate text-dark"><i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span></a></li>
          <li><a style="margin: 0; background-color: white;" href={% if current_user.role == 'dosen' %} /users/students {% else %} /users/competitions {% endif %} class="nav-link text-truncate text-dark"><i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">
            {% if current_user.role == 'dosen' %}
            My Student
            {% else %}
            My Competition
            {% endif %}
          </span></a></li>
          <li class="dropdown"><a style="margin: 0; background-color: white;" href="#" class="nav-link dropdown-toggle text-truncate text-dark" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">My Account</span></a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdown">
              <li><a style="margin: 0; background-color: white;" class="dropdown-item text-dark" href="/users/profile">My Profile</a></li>
              <li><a style="margin: 0; background-color: white;" class="dropdown-item text-dark" href="/users/password">Change Password</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-dark" href="/signout">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!--  TO -->


    <section class="h-100 h-custom" style="background-color: #eee;">
      <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" style="padding: 0; height: 0;">
        <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
      </button>
      {% with messages = get_flashed_messages()[-1] %}
      {% if messages %}
        <p id="alert" class="alert alert-dark">{{ messages }}</p>
      {% endif %}
      {% endwith %}
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card border-top border-bottom border-3" style="border-color: #2e2c2c !important;">
              <div class="card-body p-5">
                <h1 class="lead fw-bold mb-5" style="color: #2e2c2c;">Event's Title: {{ data['tit'] }}</h1>
                <div class="row">
                  <div class="col mb-3">
                    <p class="small text-muted mb-1">Start Date:</p>
                    <p>{{ data['sd'] }}</p>
                  </div>
                  <div class="col mb-3">
                    <p class="small text-muted mb-1">End Date:</p>
                    <p>{{ data['ed'] }}</p>
                  </div>
                </div>
                <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                  <div class="row">
                    <div class="col mb-3">
                      <p class="small text-muted mb-1">Event's Category:</p>
                      <fieldset disabled>
                        <input type="checkbox" name="category" value="1" {% if 1 in data['cat'] %} checked {% endif %}> data sains <br>
                        <input type="checkbox" name="category" value="2" {% if 2 in data['cat'] %} checked {% endif %}> kewirausahaan <br>
                        <input type="checkbox" name="category" value="3" {% if 3 in data['cat'] %} checked {% endif %}> infografis <br>
                        <input type="checkbox" name="category" value="4" {% if 4 in data['cat'] %} checked {% endif %}> karya ilmiah <br>
                      </fieldset>
                    </div>
                    <div class="col mb-3">
                      <div class="row">
                        <p class="small text-muted mb-1">Choose Supervisor:</p>
                        <p>
                          <span class="small" name="supervisors" id="supervisors">
                            <select {% if data["ep"] %} disabled {% endif %} >
                              <option value="196012131986012001" {% if data["ep"] and data["ep"][0]|string == '196012131986012001' %} selected {% endif %}>Dra. Destri Susilaningrum, M.Si</option>
                              <option value="196101311987012001" {% if data["ep"] and data["ep"][0]|string == '196101311987012001' %} selected {% endif %}>Dra. Lucia Aridinanti, MT</option>
                              <option value="196103111987012001" {% if data["ep"] and data["ep"][0]|string == '196103111987012001' %} selected {% endif %}>Dra. Sri Mumpuni Retnaningsih, MT</option>
                              <option value="196206031987012001" {% if data["ep"] and data["ep"][0]|string == '196206031987012001' %} selected {% endif %} >Ir. Sri Pingit Wulandari, M.Si</option>
                              <option value="196601251990021001" {% if data["ep"] and data["ep"][0]|string == '196601251990021001' %} selected {% endif %} >Dr. Drs. Brodjol Sutijo Supri Ulama, M.Si</option>
                              <option value="197212071997022001" {% if data["ep"] and data["ep"][0]|string == '197212071997022001' %} selected {% endif %}>Dr. Dwi Endah Kusrini, S.Si, M.Si</option>
                              <option value="197403281998021001" {% if data["ep"] and data["ep"][0]|string == '197403281998021001' %} selected {% endif %}>Dr. Wahyu Wibowo, S.Si, M.Si</option>
                              <option value="198711302015042002" {% if data["ep"] and data["ep"][0]|string == '198711302015042002' %} selected {% endif %}>Noviyanti Santoso, S.Si, M.Si</option>
                              <option value="199106102015042001" {% if data["ep"] and data["ep"][0]|string == '199106102015042001' %} selected {% endif %}>Iis Dewi Ratih, S.Si, M.Si</option>
                              <option value="1987202012015" {% if data["ep"] and data["ep"][0]|string == '1987202012015' %} selected {% endif %}>Nur Azizah, S.Si, M.Stat</option>
                              <option value="2022199611051" {% if data["ep"] and data["ep"][0]|string == '2022199611051' %} selected {% endif %}>Mochammad Reza Habibi</option>
                              <option value="0027079402" {% if data["ep"] and data["ep"][0]|string == '0027079402' %} selected {% endif %}>Zakiyatul Wildani</option>
                              <option value="0013119201" {% if data["ep"] and data["ep"][0]|string == '0013119201' %} selected {% endif %}>Mukti Ratna Dewi</option>
                              <option value="2022199612050" {% if data["ep"] and data["ep"][0]|string == '2022199612050' %} selected {% endif %}>Fausania Hibatullah, S.Si, M.Si</option>
                              <option value="2022199711052" {% if data["ep"] and data["ep"][0]|string == '2022199711052' %} selected {% endif %}>Muhammad Alifian Nuriman, S.Si, M.Si</option>
                            </select>
                          </span>
                        </p>
                      </div>
                      {% if data["subs"]|length > 0 %}
                        <div class="row">
                          <p class="small text-muted mb-1">Choose Subevent:</p>
                          <p>
                            <span class="small" name="subevents" id="subevents">
                              <select {% if data["ep"] %} disabled {% endif %}>
                                {% for sub in data["subs"] %}
                                  <option value="{{ sub[0] }}" {% if data["ep"] and data["ep"][1] == sub[0]  %} selected {% endif %}>{{ sub[1] }}</option>
                                {% endfor %}
                              </select>
                            </span>
                          </p>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row my-4">
                  <p class="fw-bold mb-1 pb-1" style="color: #2e2c2c;">Event's Detail:</p>
                  <p>{{ data['det'] }}</p>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div>
                      <ul class="list-inline items d-flex justify-content-between">
                        <li class="list-inline-item items-list">
                          {% if current_user.is_authenticated and current_user.role == 'dosen' %}
                            <a href="/events/{{ data["id"] }}/participants">
                              <p class="py-1 px-2 rounded text-white" style="background-color: #2e2c2c;"> Show Participants </p>
                            </a>
                          {% elif current_user.is_authenticated and current_user.role == 'mahasiswa' %}
                            <a {% if not data["ep"] %} href="#" onclick="onJoinEvent(); return false;" {% endif %}>
                              <p class="py-1 px-2 rounded text-white" style="background-color: #2e2c2c;"> Join Event </p>
                            </a>
                          {% endif %}
                        </li>
                        {% if current_user.is_authenticated and current_user.role == 'mahasiswa' %}
                          <li class="list-inline-item items-list">
                            <a {% if data["ep"] %} href="/ep/{{ data["ep"][2] }}/bimbingan" {% endif %}>
                              <p class="py-1 px-2 rounded text-white" style="background-color: #2e2c2c;" {% if not data["ep"] %} hidden {% endif %}> Riwayat Bimbingan </p>
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function post(path, query) {
        axios.post(path, query).then((response) => {
          let result = response.data;
          console.log(result);
        },
          (error) => {
            console.log(error);
          }
        );
      }

      function onSupervisors() {
        supervisors = document.getElementById('supervisors');
        s_children = supervisors.children[0];
        s_index = s_children.selectedIndex;
        s_value = parseInt(s_children[s_index].value);
        return s_value
      }

      function onSubevents() {
        subevents = document.getElementById('subevents');
        s_children = subevents.children[0];
        s_index = s_children.selectedIndex;
        s_value = parseInt(s_children[s_index].value);
        return s_value
      }
      
      function onJoinEvent() {
        const title_event = document.getElementsByTagName('h1')[0].textContent.split(': ')[1];
        // console.log(window.location.href)
        // window.location.replace("/supervisors");
        onSupervisors();
        onSubevents();
      }

      setTimeout(function () {
          document.getElementById('alert').remove()
      }, 2000);
    </script>

    <!-- JavaScript Bundle With Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JavaScript Bundle With Popper -->
  </body>
</html>