<!DOCTYPE html>
<html>
  <head>
    <!-- TITLE, DESC, CHARSET, VIEWPORT, -->
    <title>myDSB kompetisi</title>
    <meta charset="utf-8">
    <meta name="description" content="Offline Javascript Calendar App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <!-- STYLESHEET JAVASCRIPT -->
    <script defer src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/index.css">
    <!-- CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <div class="container d-flex flex-column flex-md-row align-items-center pb-1 pt-1">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
            <title>myDSB KompetisI</title>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path>
          </svg>
          <span class="fs-4">myDSB KompetisI</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="/events">Events</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/supervisors">Supervisors</a>
          {% if current_user.is_authenticated %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="/signout">Sign out</a>
            <a class="py-2 text-dark text-decoration-none" href="/users/home">{{ current_user.username }}</a>
          {% else %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="/signin">Sign in</a>
            <a class="py-2 text-dark text-decoration-none" href="/signup">Sign up</a>
          {% endif %}
        </nav>
      </div>
    </header>
    {% with messages = get_flashed_messages()[-1] %}
            {% if messages %}
              <p id="alert" class="alert alert-dark text-center">{{ messages }}</p>
            {% endif %}
    {% endwith %}
    <!-- (A) PERIOD SELECTOR -->
    <div id="calHead" class="container">
      <div id="calPeriod">
        <input id="calBack" type="button" class="mi" value="&lt;">
        <select id="calMonth"></select>
        <input id="calYear" type="number">
        <input id="calNext" type="button" class="mi" value="&gt;">
      </div>
      {% if current_user.is_authenticated and current_user.role == 'dosen' %}
      <input id="calAdd" type="button" class="mi" value="+">
      {% else %}
      <input id="calAdd" type="button" class="mi" value="+" hidden>
      {% endif %}
    </div>
    <!-- (B) CALENDAR WRAPPER -->
    <div id="calWrap">
      <div id="calDays"></div>
      <div id="calBody"></div>
    </div>
    <!-- (C) EVENT FORM -->
    <dialog id="calForm">
      <form method="dialog">
        <div id="evtCX">X</div>
        <h2 class="evt100">CALENDAR EVENT</h2>
        <div class="evt50">
          <label>Start</label>
          <input id="evtStart" type="datetime-local" required>
        </div>
        <div class="evt50">
          <label>End</label>
          <input id="evtEnd" type="datetime-local" required>
        </div>
        <div class="evt50">
          <label>Text Color</label>
          <input id="evtColor" type="color" value="#000000" required>
        </div>
        <div class="evt50">
          <label>Background Color</label>
          <input id="evtBG" type="color" value="#ffdbdb" required>
        </div>
        <div class="evt100">
          <label>Event</label>
          <input id="evtTxt" type="text" required>
        </div>
        <div class="evt100">
          <fieldset>
            <label>Category</label>
            <input type="checkbox" name="category" value="1">data sains <br>
            <input type="checkbox" name="category" value="2">kewirausahaan <br>
            <input type="checkbox" name="category" value="3">infografis <br>
            <input type="checkbox" name="category" value="4">karya ilmiah <br>
          </fieldset>
        </div>
        <div class="evt100">
          <label>Detail</label>
          <textarea name="detail" id="detail" cols="30" rows="10" style="width: 100%;"></textarea>
        </div>
        <div class="evt100" id="subevent">
          <label style="display: inline;">Subevent</label>
          <button onclick="addSub(); return false;" style="display: inline; width: 10%; background-color: rosybrown; border-color: rosybrown; padding-top: 3px;">+</button>
        </div>
        <div id="js">
          <!-- <div id="se_00" style="width: 100%; display: flex;">
            <div class="evt50">
              <label>Keterangan</label>
              <input name="keterangan" type="text" required>
            </div>
            <div class="evt30">
              <label>Participant</label>
              <input name="participant" type="number" style="width: 100%; padding-top: 6px;" required>
            </div>
            <div class="evt20">
              <label>Remove</label>
              <button onclick="delSub(); return false;" style="width: 63%; background-color: rosybrown; border-color: rosybrown; padding-top: 3px;">-</button>
            </div>
          </div> -->
        </div>
        
        <div class="evt100">
          {% if current_user.is_authenticated and current_user.role == 'dosen' %}
          <input type="hidden" id="evtID">
          <input type="button" id="evtDet" value="Detail">
          <input type="button" id="evtDel" value="Delete">
          <input type="submit" id="evtSave" value="Save">
          {% else %}
          <input type="hidden" id="evtID">
          <input type="button" id="evtDet" value="Detail">
          <input type="button" id="evtDel" value="Delete" hidden>
          <input type="submit" id="evtSave" value="Save" hidden>
          {% endif %}
        </div>
      </form>
    </dialog>

    <script>
var count = 0


function addSub() {
    count++;
    const html_add = document.getElementById("js");

    const html = `<div id="js_${count}" style="width: 100%; display: flex;">
<div class="evt50">
  <label>Keterangan</label>
  <input name="keterangan" type="text" required>
</div>
<div class="evt30">
  <label>Participant</label>
  <input name="participant" type="number" style="width: 100%; padding-top: 6px;" required>
</div>
<div class="evt20">
  <label>Remove</label>
  <button onclick="delSub(); return false;" style="width: 63%; background-color: rosybrown; border-color: rosybrown; padding-top: 3px;">-</button>
</div>
</div>`;
    html_add.insertAdjacentHTML('beforeend', html);
}

function post(path, query) {
    axios.post(path, query).then(
        (response) => {
            let result = response.data;
            console.log(result);
        },
        (error) => {
            console.log(error);
        }
    );
}

function delSub() {
    html_del = event.target.parentNode.parentNode;
    id = html_del.id
    
    if (id.startsWith('js')) {
      html_del.remove();
    } else if (id.startsWith('se')) {
      post("kill", {"id":id.split('_')[1]});
      html_del.remove();
    }
    
}

setTimeout(function () {
    document.getElementById('alert').remove()
}, 2000);
  </script>

    <!-- JavaScript Bundle With Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JavaScript Bundle With Popper -->
  </body>
</html>